.add-todo__btn {
  border: none;
  background-color: #fafafa;
}

.button-list {
  border: none;
  background-color: #fafafa;
}

.todo-app {
  min-width: 380px;
  max-width: 60%;
  min-height: 320px;
  max-height: 100%;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(25,25,25,.25);
  padding: 3rem;
}
.todo {
  margin-left: 35px;
  margin-right: 40px;
  background-color: #fafafa;

}
.todo--completed {
  text-decoration: line-through;
}

.todo__content {
  margin: 10px
}

